.auth {
  background-color: var(--theme-secondary-color);
}

.auth .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.auth .card {
  background-color: var(--main-primary-color);
  width: 400px;
  height: 550px;
  border: none;
  border-radius: 25px;
  padding: 40px;
}

.auth .header {
  display: flex;
  text-align: center;
}

.auth .iconBack {
  color: var(--primary-object-color);
  font-size: 22px;
  margin-left: -6px;
  cursor: pointer;
}

.auth .title {
  font-weight: 500;
  font-size: 20px;
  color: var(--main-secondary-color);
  text-align: center;
  margin-top: -5px;
  margin-left: 100px;
}

.auth .text {
  color: var(--text-primary-color);
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.auth .label {
  color: var(--text-secondary-color);
  font-size: 13px;
}

.auth .form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.auth .input {
  border: none;
  padding: 3px 0;
  border-bottom: 1px solid var(--text-primary-color);
  color: var(--text-primary-color);
  background-color: transparent;
}

.auth .input:focus {
  outline: none;
}

.auth .isShow {
  position: absolute;
  top: 28px;
  right: 5px;
  font-size: 18px;
  cursor: pointer;
}

.auth .with {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.auth .hr {
  width: 100px;
  text-align: center;
  margin-top: 13px;
}

.auth .btn {
  padding: 12px;
  background-color: var(--main-secondary-color);
  color: var(--main-primary-color);
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
}

.auth .btn:hover {
  background-color: var(--main-secondary-color);
  color: var(--main-primary-color);
}

.auth .btnGoogle {
  padding: 12px;
  background-color: var(--main-primary-color);
  color: var(--main-secondary-color);
  border: 1px solid var(--main-secondary-color);
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
}

.auth .iconGoogle {
  margin-right: 15px;
  font-size: 24px;
}
